# Compiled class files
*.class

# Maven build directory
target/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
.classpath
.project
.settings/

# Mac OS X files
.DS_Store

# Logs and databases
*.log
*.ldb

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
*.rbc

# Other files
*.asc
*.old
*.orig
*.rej

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
